<div class="topnav">
  <a [routerLink]="['inicio']" routerLinkActive="active">Inicio</a>
  <a [routerLink]="['tienda']" routerLinkActive="active">Tienda</a>
  <a [routerLink]="['nosotros']" routerLinkActive="active">Nosotros</a>
  <a [routerLink]="['contactanos']" routerLinkActive="active">Contactanos</a>
  <a [routerLink]="['carrito']" routerLinkActive="active">Carrito</a>
  <a [routerLink]="['login']" routerLinkActive="login">Login</a>

  <div class="search-container">
    <input type="text" placeholder="Buscar..." [formControl]="searchControl" (keyup.enter)="onSearch()" />
    <button class="primary" (click)="onSearch()">Buscar</button>
  </div>
</div>
<router-outlet></router-outlet>






