<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nosotros</title>
    <link rel="stylesheet" href="nosotros.component.scss">
</head>
<body>
    <div class="content">
        <h1>Sobre Nosotros</h1>
        <section>
            <h2>Nuestra Historia</h2>
            <p>Desde nuestros humildes comienzos, hemos trabajado arduamente para ofrecer la mejor calidad en ropa a nuestros clientes. Fundada en 1990, nuestra tienda ha crecido desde una pequeña boutique hasta convertirse en un referente en la moda.</p>
        </section>
        <section>
            <h2>Nuestra Misión</h2>
            <p>Nuestra misión es proporcionar ropa de alta calidad y moda a precios accesibles, garantizando la satisfacción de nuestros clientes a través de un excelente servicio al cliente.</p>
        </section>
        <section>
            <h2>Visión</h2>
            <p>Aspiramos a ser la tienda de ropa líder en el mercado, reconocida por nuestra innovación, calidad y compromiso con la sostenibilidad y la responsabilidad social.</p>
        </section>
    </div>
</body>
</html>
